@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #EBEBEB;
}

header {
    width: 100%;
    height: 64px;
    background-color: white;

    padding: 0px 19vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    font-size: 40px;
}

img {
    width: 30px;
}

header #inputSearch {
    width: 31vw;
    height: 46px;
    border-radius: 8px;
    padding-left: 22px;
    background-color: #F0F0F0;
    border: 1px solid #C5C5C5;
    font-size: 18px;

    background-image: url(/assets/img/searchIcon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

main {
    padding: 0px 19vw;
}

main nav {
    display: flex;
    margin: 51px 0px;
    height: 62px;
    background-color: white;
    border-radius: 8px;
    padding: 0px 22px;

    align-items: center;
    justify-content: space-between;
}

main nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

main nav ul li {
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}

main nav ul li #navUlLiIcons {
    width: 20px;
}

main nav ul li a {
    color: black;
    text-decoration: none;
}

.loginLinks {
    color: #41B5F5;
    text-decoration: underline;
    font-size: 15px;
}

main #productPhoto #firstProductImage {
    max-width: 462px;
    /* Define a largura máxima do contêiner */
    width: 100%;
    /* Garante que o contêiner ocupe 100% do espaço disponível */
    margin: 0 auto;
    /* Centraliza o contêiner horizontalmente */
    overflow: hidden;
    /* Evita que a imagem ultrapasse as bordas */
}

main #productContainer {
    display: flex;
    padding: 48px 43px;
    background-color: white;
    gap: 20px;
}

main #productContainer #productPhoto {
    width: 100%;
    height: 620px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

main #productContainer #otherProductImage img {
    border-radius: 4px;
    width: 50px;
    border: 2px solid #aaaaaa;
}

main #productContainer #otherProductImage img:hover {
    cursor: pointer;
}

main #productDescription {
    background-color: #EBEBEB;
    width: 45%;
    padding: 19px 10px;
}


main #productDescription .productStarsIcons img {
    width: 15px;
    height: 15px;
}

main #productDescription .productStarsIcons {
    display: flex;
    gap: 5px;
    margin-top: 3px;
    margin-bottom: 20px;
}

main #productDescription #productName {
    font-size: 16px;

}

main #productPrice #productOldPrice {
    font-size: 14px;
    color: #D70000;
    font-weight: bold;
    text-decoration: line-through;
    display: block;
}

main #productPrice #productPrice {
    font-size: 25px;
}

@media screen and (max-width: 1507px) {

    main #productContainer {
        flex-direction: column;
    }

    main #productDescription {
        width: 100%;
        display: flex;
    }

    main #spanHelp {
        display: block;
        margin: 10px 0px;
    }

    main #productDescriptionButtons {
        width: 60%;
    }

    main .mediaProductName {
        width: 60% !important;
        margin-left: 20px;
    }
}

main #productPrice #productPromo {
    color: #1D9200;
    font-size: 20px;
    font-weight: bold;
}

sup {
    vertical-align: 6px;
}

main #productPrice #productParcelas {
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
}

main #productDescriptionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #productDescriptionButtons button {
    width: 99%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

main #productDescriptionButtons button:hover {
    cursor: pointer;
}

main #productDescriptionButtons #productBuy {
    color: white;
    background-color: #00C2FF;
}

main #productDescriptionButtons #productAddToCart {
    color: #0085FF;
    background-color: #DAEBF0;
}

#spanHelp {
    margin-top: 22px;
    margin-bottom: 27px;
    display: block;
    font-size: 18px;
}

main #productListDescription span {
    font-size: 17px;
}

main #productListDescription ul {
    margin-top: 10px;
    margin-left: 20px;
    list-style: disc;
}

main #productListDescription ul li {
    font-size: 14px;
}


main #productUserReview {
    padding: 43px;
    background-color: white;
}

main #productUserReview hr {
    border: 1px solid #EBEBEB;
    border-radius: 2px;

}

main #productUserReview h1 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

main #productUserReview #productUserReviewStars span {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 12px;
}

main #productUserReview #productUserReviewStars .productStars {
    display: flex;
    gap: 7px;
    margin-bottom: 24px;
}

main #productUserReview #productUserReviewStars .productStars img {
    width: 26px;
}

main #productUserAddComment {
    margin-left: 60px;
    margin-right: 60px;
}

#productUserAddComment #commentDate {
    font-size: 14px;
    font-weight: 100;
}

#productUserAddComment #userId {
    font-size: 20px;
}

#productUserAddStars img {
    margin-top: 10px;
    margin-bottom: 17px;
    width: 21px;
}

#productUserAddComment #productUserAddCommentInput {
    padding-left: 10px;
    margin: 0 auto;
    font-size: 14px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 5px;
    margin-bottom: 38px;
}

#productUserAddComment #productUserAddCommentInput:focus {
    outline: 0;
}

#productUserAddPhotos {
    display: flex;
    flex-direction: row;
    gap: 9px;

    margin-bottom: 33px;
}

#productUserAddPhotos .quads:hover {
    cursor: pointer;
}

#productUserAddPhotos .quads {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
}

#productUserAddPhotos .quads {
    justify-content: center;
    align-items: center;
    display: flex;
}

.commentArea {
    margin-bottom: 27px;
}


#productUserStars img {
    margin-top: 10px;
    margin-bottom: 17px;
    width: 21px;
}

#productUserPhotos {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-bottom: 33px;
}

#productUserPhotos .quads:hover {
    cursor: pointer;
}

#productUserPhotos .quads {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
}

#productUserPhotos .quads {
    justify-content: center;
    align-items: center;
    display: flex;
}


main #productUserComment {
    margin-left: 60px;
    margin-right: 60px;
}

#productUserComment #commentDate {
    font-size: 14px;
    font-weight: 100;
}

#productUserComment #userId {
    font-size: 20px;
}

footer {
    margin-top: 37px;
    height: 430px;
    background-color: white;
}

footer #footerCards hr {
    height: 198px;
    align-self: center;
    border: 1px solid #EBEBEB;
}

#footerCards {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-bottom: 53px;
}

.footerInfos {
    margin-top: 55px;
    text-align: center;
    width: 415px;
    height: 248px;
}

.footerInfos img {
    width: 158px;
}

.footerInfos .footerTitle,
.footerDescription {
    display: block;
}

.footerTitle {
    font-weight: 500;
    font-size: 30px;
}

.footerDescription {
    font-size: 16px;
}


footer #footerNav #footerUl {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

footer #footerNav #footerUl a {
    color: black;
    text-decoration: none;
}


footer #footerNav #footerUl li {
    list-style: none;
}

/*Index.html*/

/*Parte dos quads dos produtos*/
main #index-product-container {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap: 10px;
}

main .index-product-quad {
    cursor: pointer;
    background-color: white;

    width: 250px;
    height: 403px;

    border-radius: 8px;
}

main .index-product-quads-image {
    height: 230px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: end;

}

main .index-product-quads-image-balls {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-self: center;

}

main .index-product-quads-image-balls-icon {
    width: 15px;
    height: 15px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
}

main .index-product-name-container {
    display: flex;
    flex-direction: column;
}

main .index-product-name-container,
.index-product-price-container {
    margin-left: 8px;
}

main .index-product-name-container .index-product-name {
    font-size: 1.10rem;
    margin-top: 5px;
}

main .index-product-name-container .index-product-description {
    font-size: 0.83rem;
}

main .index-product-quad hr {
    height: 0.1px;
    background-color: gray;
    border: none;
}

main .index-product-price-container {
    margin-top: 10px;
}

main .index-product-price-container .index-product-old-price {
    font-size: 0.75rem;
    color: #D70000;
    font-weight: 800;
    display: block;
    text-decoration: line-through;
    margin-bottom: 3px;
}

main .index-product-price-container .index-product-price {
    font-size: 1.36rem;
}

main .index-product-price-container .index-product-percentage-promotion {
    color: #1D9200;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 3px;
}

main .index-product-price-container .index-product-installments {
    display: block;
    font-size: 0.80rem;
    margin-top: 5px;
    margin-bottom: 5px;
}


a {
    text-decoration: none;
    color: black;
}

/*Fim dos quads*/

.textForAdorableProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*productBuy start*/

#productBuy-hero-main {
    padding-top: 48px;
    display: flex;
}

main #productBuy-personal-information {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #productBuy-address-container {
    display: flex;
    border-radius: 8px;
    padding: 12px 15px 12px 17px;
    background-color: white;
    justify-content: space-between;
}

main #productBuy-address-infos {
    display: flex;
    flex-direction: column;
    width: 80%;
}

main #productBuy-address-infos #productBuy-address-infos-span {
    font-size: 1.56rem;
    font-weight: 800;
}

main #productBuy-address-infos #productBuy-address-user-name {
    font-size: 1rem;
    margin: 8px 0px;
}

main #productBuy-change-andress {
    display: flex;
    align-items: center;
}

main #productBuy-change-andress #productBuy-change-adress-link a,
#productBuy-payment-container #productBuy-change-type-paymente a {
    color: #41B5F5;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: underline;
}

main #productBuy-payment-container {
    display: flex;
    justify-content: space-between;
    min-height: 176px;
    border-radius: 8px;
    padding: 12px 15px 12px 17px;
    background-color: white;
}

main #productBuy-payment-container #productBuy-payment-infos-span {
    font-size: 1.56rem;
    font-weight: 800;
    display: block;
    margin-bottom: 35px;

}

main #productBuy-payment-container #productBuy-payment-type {
    width: 60%;
}

main #productBuy-payment-container #productBuy-payment-type #productBuy-payment-type-infos {
    display: block;
    font-size: 0.87rem;
    font-weight: lighter;
}

main #productBuy-payment-container #productBuy-change-type-paymente {
    display: flex;
    align-items: center;
}


/*informações do produtos*/

main #productBuy-product-infos-container {
    min-height: 266px;
    border-radius: 8px;
    padding: 12px 15px 12px 17px;
    background-color: white;
}

main #productBuy-product-infos-container #productBuy-product-store-name {
    font-size: 1.56rem;
    font-weight: 800;
}

main #productBuy-product-description-container {
    display: flex;
}

main #productBuy-product-image-container {
    margin-right: 15px;
}

main #productBuy-product-image-container #productBuy-product-image {
    width: 180px;
    height: 180px;
    display: flex;
}

main #productBuy-product-description-infos #productBuy-product-name {
    font-size: 1.2rem;
    margin-bottom: 9px;
    display: block;
}

main #productBuy-product-description-infos #productBuy-product-description {
    font-size: 1rem;
    display: block;
    margin-bottom: 80px;
}

main #productBuy-product-description-infos #productBuy-product-price {
    font-size: 1.25rem;
    font-weight: 800;
}


main #productBuy-product-resume-container {
    box-sizing: border-box;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    background-color: white;
}

main #productBuy-product-price-container {
    padding: 0px 20px;
}

main #productBuy-product-page-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 46px;
}

main #productBuy-product-price-hero {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

main #productBuy-product-resume-price-aside-container span {
    display: block;
}

main #productBuy-product-resume-price-values-container span {
    display: block;
}

main #productBuy-product-resume-container hr {
    margin-top: 30px;
    margin-bottom: 40px;
}

main #productBuy-center-button {
    display: flex;
    justify-content: center;
}

main #productBuy-product-resume-end-purchase {
    width: 60%;
    border: none;
    cursor: pointer;
    height: 50px;
    font-size: 1.25rem;
    color: white;
    border-radius: 20px;
    background-color: #00C2FF;
    box-shadow: #c5c5c5 5px 5px 15px;
}

main #productBuy-infos {
    display: flex;
    justify-content: end;
    width: 100%;
}

/*productBuy end*/